// Page: Footer
// -----------------------------------------------------------------------------
.page__footer {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
  & img {
    padding: 10px;
  }
 & ul {
   margin-left: 0;
   padding-left: 0;
   & li {
     list-style-type: none;
     line-height: 2;
   }
   & a {
     text-decoration: none;
     color: $dark-color;
     &:hover {
       text-decoration: none;
       opacity: 0.8;
     }
   }
 }
}
.block--webform {
  & h2 {
    font-size: 14px;
    font-weight: 400;
  }
}
.page__copyright {
  padding: 20px 0;
  & p {
    margin-bottom: 0;
    font-size: 12px;
  }
}
